body{
    text-align: center;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(49, 178, 218) 100%);
    color: white;
}

img{
    width: 50px;
}

#img_a{
    width: 80px;
}
